<h1>Places</h1>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"class = "ms-3 mt-3"><%= place["name"] %></a></li>
  <% end %>
</ul>

<p>
  <a href="/places/new" class = "btn btn-info">New place</a>
</p>